body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link.active {
    font-weight: bold;
    color: #ffc107 !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
